body{
    min-height: 100vh;
    background-color: #6058ff;
    background-size: 100vw 100vh;
    display: flex;
    margin: 0px;
}

aside{
    display: flex;
    justify-content: center;
    width: 30%;
    height: 100%;
    min-height: 100vh;
    padding-top: 20px;
    margin-left: 20px;
}

aside section{
    display: flex;
    align-items: center;
    width: 95%;
    height: 95%;
    background-color: white; 
    padding: 30px 0;
    border-radius: 50pt;
}

aside section > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80%;
}

aside form {
    display: flex;
    min-height: 40px;
    width: 80%;
    background-color: white;
    border: 2px solid black;
    border-radius: 50pt;
}

input{
    width: 80%;
    border: none;
    outline: none;
    border-radius: 50pt 0 0 50pt;
}

form button {
    border: none;
    background-color: #6058ff;
    color: white;
    border-radius: 0 50pt 50pt 0;
    margin-left: 30px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    min-height: 100vh;
}

h2{
    font-family: 'Courier New', Courier, monospace, serif, sans-serif;
}

#current {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    padding: 20px 200px 20px 200px;
    margin: 20px;
}

#forecast {
    display: flex;
    align-items: center;
    height: 60%;
    padding: 0px 250px 0px 250px;
    margin: 20px;
}

#current, #forecast {
    background: rgb(96,88,255);
    background: linear-gradient(0deg, rgba(96,88,255,1) 0%, rgba(238,233,255,1) 100%);
    border-radius: 50pt;
}



@media (max-width: 660px) {
    #forecast {
        flex-direction: column;
    }
    #forecast > div {
        width: 50%;
        margin-bottom: 30px;
        padding: 20px 0;
    }
    #forecast > div:first-child {
        margin-top: 30px;
    }
}

@media (max-width: 900px) {
    aside {
        min-height: 40vh;
        width: 100%;
    }
    main {
        min-height: 40vh;
        width: 100%;
        justify-content: space-around;
    }
    main section {
        margin: 10px 0;
    }
    #current, #forecast {
        min-height: 30vh;
    }
    body {
        flex-direction: column;
    }
    #current {
        flex-direction: row;
    }
}

@media (min-width: 900px) {
    body {
        flex-direction: row;
    }
}